:root {
	--main-color: #ff9800;			/* Orange */
	--accent-color: #f2f2f2;		/* Light Gray */
	--light-text-color: #ffffff;	/* White */
	--dark-text-color: #696969;		/* Dark Gray */
	--border-radius: 2px;
}

* {
	font-family: "Arial", sans-serif;
	font-size: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--dark-text-color);
}

body {
	border-style: solid;
	border-width: 1px;
	border-color: var(--accent-color);
}

.decorative-bar {
	background-color: var(--main-color);
	max-width: 100%;
	height: 5px;
}

.raised-button {
	background-color: var(--main-color);
	color: var(--light-text-color);
	padding: 3px;
	text-align: center;
	text-decoration: none;
	outline: 0;
	display: inline;
	border: 2px solid var(--main-color);
	border-radius: var(--border-radius);
	margin: 2.5px;
	cursor: pointer;
	transition-duration: 0.25s;
}

.raised-button:hover {
	background-color: transparent;
	color: var(--main-color);
}

.raised-button:active {
	position: relative;
	top: 1px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.no-padding {
	padding: 0px !important;
}

.center-text {
	text-align: center;
}