body {
	width: 600px;
}

.notification-popup {
	position: fixed;
	margin: 10px;
	width: 500px;
	height: auto;
	left: 50%;
	margin-left: -255px;	/* ((width / 2) + (margin / 2)) * (-1) */
	padding: 10px 5px;
	background: rgba(105, 105, 105, 0.8);
	border-radius: 2px;
}

.notification-popup.red {
	background: rgba(255, 71, 42, 0.8);
}

.notification-popup.green {
	background: rgba(31, 189, 79, 0.8);
}

.notification-popup.visible {
	display: block;
}

.notification-popup-status {
	color: white;
	text-align: center;
}

.icon {
	font-size: 200%;
}

.icon.alert::before {
	content: '\26a0';
}

.icon.success::before {
	content: '\2713';
}

.add-rule-container {
	padding: 5px;
	overflow: auto;
}

.info-text {
	padding: 5px;
	color: var(--dark-text-color);
	border: none;
	font-style: italic;
}

.add-rule-text-container {
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 30px;
}

.half-text {
	margin-right: 5px;
	color: var(--dark-text-color);
	padding: 2px 5px;
	display: inline-block;
	flex-grow: 1;
	border: none;
	border-bottom: solid 2px var(--accent-color);
	transition: border 0.25s;
	font-size: 100%;
}

.half-text:focus {
	border-bottom: solid 2px var(--main-color);
	outline: 0;
}

.add-rule-button-container {
	height: 30px;
	margin-right: 5px;
}

.current-rules-container {
	padding: 5px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: 2.5px 5px;
	text-align: left;
	color: var(--dark-text-color);
	margin: auto;
	max-width: 250px;	/* Depends on body width */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

tr {
	border-bottom: 2px solid var(--accent-color);
}

tr:first-child {
	border-top: 2px solid var(--accent-color);
}

tr:hover {
	background-color: var(--accent-color);
}

.arrow {
	font-size: 175%;
}

.arrow::before {
	content: '\2192';
}

.arrow.regex-rule {
	color: var(--main-color);
}

.delete-rule-button {
	background-color: transparent;
	font-size: 200%;
	border: none;
	color: var(--main-color);
	padding: 0px;
	outline: 0;
	float: right;
	cursor: pointer;
	transition-duration: 0.25s;
}

.delete-rule-button::before {
	content: '\2326';
}

.delete-rule-button:hover {
	color: #ff472a;
}

.delete-rule-button:active {
	position: relative;
	top: 1px;
}