body {
	--body-width: 600px;
	width: var(--body-width);
}

.notification-popup {
	--np-padding-vertical: 10px;
	--np-padding-horizontal: 5px;
	--np-width: 500px;
	--np-middle: calc(var(--np-width) / 2);
	width: var(--np-width);
	height: auto;

	position: fixed;
	margin: 10px 0;
	margin-left: calc(var(--np-middle) * -1);
	padding: var(--np-padding-vertical) var(--np-padding-horizontal);
	left: calc(var(--body-width) / 2);

	background: rgba(105, 105, 105, 0.8);
	border-radius: var(--border-radius);
}

.notification-popup.red {
	background: rgba(255, 71, 42, 0.8);
}

.notification-popup.green {
	background: rgba(31, 189, 79, 0.8);
}

.notification-popup .text {
	color: var(--light-text-color);
}

.notification-popup .close-icon {
	--icon-size: 16px;
	width: var(--icon-size);
	height: var(--icon-size);

	--icon-edge-offset: 5px;	/* The desired offset from this div's top right corner and the top right corner of notification-popup */
	--icon-margin-vertical: calc(var(--np-padding-vertical) * -1);	/* Gets distance between this div's top edge, and notification-popup's top edge */
	--icon-margin-horizontal: calc(var(--np-padding-horizontal) * -1);	/* Gets distance between this div's right edge, and notification-popup's right edge */

	margin-top: calc(var(--icon-margin-vertical) + var(--icon-edge-offset));
	margin-right: calc(var(--icon-margin-horizontal) + var(--icon-edge-offset));

	/* Default white */
	background-image: url("../images/icon_close.png");
	background-repeat: none;
	background-size: contain;

	transition-duration: 0.25s;
}

.notification-popup .close-icon:hover {
	background-image: url("../images/icon_close_hover.png");	/* Can't store URLs in variables? Doing this manually instead */
}

.notification-popup .icon {
	font-size: 200%;
}

.notification-popup .icon.alert::before {
	content: '\26a0';
}

.notification-popup .icon.success::before {
	content: '\2713';
}

.add-rule-container {
	padding: 5px;
	overflow: auto;
}

.info-text {
	padding: 5px;
	color: var(--dark-text-color);
	border: none;
	font-style: italic;
}

.add-rule-text-container {
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 30px;
}

.half-text {
	margin-right: 5px;
	color: var(--dark-text-color);
	padding: 2px 5px;
	display: inline-block;
	flex-grow: 1;
	border: none;
	border-bottom: solid 2px var(--accent-color);
	transition: border 0.25s;
	font-size: 100%;
}

.half-text:focus {
	border-bottom: solid 2px var(--main-color);
	outline: 0;
}

.add-rule-button-container {
	height: 30px;
	margin-right: 5px;
}

.current-rules-container {
	padding: 5px;
}

.current-rules-table-container {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 392px;	/* Each row is 30px, so 13 rows + extra 2px for the extra (:first-child) border = 392px */
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: 2.5px 5px;
	text-align: left;
	color: var(--dark-text-color);
	margin: auto;
	max-width: 250px;	/* Depends on body width */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

tr {
	border-bottom: 2px solid var(--accent-color);
}

tr:first-child {
	border-top: 2px solid var(--accent-color);
}

tr:hover {
	background-color: var(--accent-color);
}

.arrow {
	font-size: 175%;
}

.arrow::before {
	content: '\2192';
}

.arrow.regex-rule {
	color: var(--main-color);
}

.delete-rule-button {
	/*
	height: 20px;	Dimensions for delete icons
	width: 29px;
	*/
	height: 16px;
	width: 16px;

	border: none;
	padding: 0px;
	outline: 0;
	cursor: pointer;

	background-color: var(--main-color);
	background-repeat: none;
	background-size: contain;
	/*
	-webkit-mask-box-image: url("../images/icon_delete.png");	Not sold on using the delete icons -- feels too heavy
	*/
	-webkit-mask-box-image: url("../images/icon_close.png");

	transition-duration: 0.25s;
}

.delete-rule-button:hover {
	/*
	-webkit-mask-box-image: url("../images/icon_delete_hover.png");	Not sold on using the delete icons -- feels too heavy
	*/
	-webkit-mask-box-image: url("../images/icon_close_hover.png");
}

.delete-rule-button:active {
	position: relative;
	top: 1px;
}