body {
	width: 350px;
}

.top-container {
	height: 48px;
	background-color: var(--main-color);
}

.logo-text {
	font-style: italic;
	display: table-row;
	color: var(--light-text-color);
	width: 100%;
}

.logo-spacer{
	height: 5px;
}

.logo-main {
	font-size: 175%;
	font-weight: bold;
}

.logo-sub {
	height: auto;
}

.logo-container {
	position: absolute;
	max-width: 48px;
	max-height: 48px;
}

.logo-text-container {
	position: absolute;
	left: 58px;
	height: 48px;
	padding: 0px 5px;
}

.button-container {
	padding: 5px;
	overflow: auto;
}

.wide {
	width: 47%;
}